
.header-info {
    margin-bottom: 10px;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1976D2;
    color: white;
    padding: 20px;
}

.section-left {
    text-align: left;
}

.section-right {
    text-align: right;
}